.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}
.logo--span,
.logo {
  text-transform: uppercase;
}
.logo--span {
  background-image: linear-gradient(to right bottom, #7ed56f, #25b485);
  -webkit-background-clip: text;
  color: transparent;
}
.navbar__links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.navbar__links a,
.navbar__link--right a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.navbar__links a:hover {
  color: #25b485; /* Match the gradient text color */
}
.nav--btn {
  background-image: linear-gradient(to right bottom, #7ed56f, #25b485);
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}
